/*Variables*/
/*End of Variables*/
/*Default styles*/
/* line 9, ../scss/style.scss */
ul, li {
  list-style-type: none;
}

/* line 10, ../scss/style.scss */
a {
  text-decoration: none;
  color: black;
}

/* line 14, ../scss/style.scss */
a:hover {
  text-decoration: underline;
}

/* line 15, ../scss/style.scss */
input[type="button"] {
  padding: 2px 5px;
  background: #000;
  color: #FFF;
  border: 1px solid #000;
  cursor: pointer;
  height: 18px;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 25, ../scss/style.scss */
input[type="text"] {
  padding: 2px 5px;
  border: 1px solid #000;
  height: 18px;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 32, ../scss/style.scss */
select {
  border: 1px solid #000;
  font-size: 11px;
  padding: 0 0 0 5px;
}

/* line 37, ../scss/style.scss */
.pink {
  color: #e51937;
}

/*End of Default styles*/
/*------------------------
Main View
------------------------*/
/* line 43, ../scss/style.scss */
.container {
  width: 980px;
  margin: 0 auto;
  font: bold 11px arial;
}

/* line 50, ../scss/style.scss */
.main-header,
.main-container,
footer {
  padding: 0 10px;
}

/*Header*/
/* line 54, ../scss/style.scss */
.promo-container {
  padding: 5px 0;
  border-bottom: 1px solid #000;
  text-align: center;
}
/* line 59, ../scss/style.scss */
.promo-container .promo-text {
  font-weight: bold;
  text-transform: uppercase;
}
/* line 63, ../scss/style.scss */
.promo-container a {
  color: #e51937;
}

/* line 67, ../scss/style.scss */
.utility-dropdown,
.main-container .main-nav-container,
.mobile-utilitys {
  display: none;
}

/* line 70, ../scss/style.scss */
.utility-tools-container {
  text-align: right;
  overflow: hidden;
  padding: 12px 0;
}
/* line 75, ../scss/style.scss */
.utility-tools-container .help-text {
  float: left;
  background: url(../img/cell.png) left center no-repeat;
  padding-left: 5px;
}
/* line 80, ../scss/style.scss */
.utility-tools-container ul {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
}
/* line 85, ../scss/style.scss */
.utility-tools-container ul li {
  display: inline-block;
  *display: inline;
  border-left: 1px solid #000;
  padding: 0 0 0 8px;
  margin: 0 0 0 8px;
}
/* line 92, ../scss/style.scss */
.utility-tools-container ul li:first-child {
  border: none;
  margin: 0;
  padding: 0;
}

/* line 100, ../scss/style.scss */
.logo-search-wrapper {
  min-height: 75px;
  overflow: hidden;
  margin-bottom: 15px;
}
/* line 105, ../scss/style.scss */
.logo-search-wrapper img {
  width: 100%;
}
/* line 108, ../scss/style.scss */
.logo-search-wrapper .logo {
  width: 41%;
}
/* line 111, ../scss/style.scss */
.logo-search-wrapper .logo .wrap {
  margin-right: 15px;
}
/* line 115, ../scss/style.scss */
.logo-search-wrapper .promo {
  width: 31%;
}
/* line 118, ../scss/style.scss */
.logo-search-wrapper .promo .wrap {
  margin-right: 15px;
}
/* line 122, ../scss/style.scss */
.logo-search-wrapper .search {
  line-height: 75px;
  text-align: right;
  margin: 0;
  width: 28%;
}
/* line 128, ../scss/style.scss */
.logo-search-wrapper .search input[type="button"] {
  margin-left: -3px;
}
/* line 131, ../scss/style.scss */
.logo-search-wrapper .search input[type="text"] {
  font-style: italic;
  padding: 2px 5px 2px 5px;
  font-size: 10px;
  width: 55%;
}
/* line 138, ../scss/style.scss */
.logo-search-wrapper li:first-child .wrap {
  border: none;
  margin-left: 0;
  padding-left: 0;
}
/* line 143, ../scss/style.scss */
.logo-search-wrapper li {
  float: left;
  vertical-align: middle;
}
/* line 147, ../scss/style.scss */
.logo-search-wrapper li .wrap {
  border-left: 1px dotted #000;
  margin-left: 10px;
  padding-left: 10px;
}

/* line 155, ../scss/style.scss */
.main-nav-container {
  overflow: hidden;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #d0d0d0;
  font-size: 0;
}
/* line 161, ../scss/style.scss */
.main-nav-container * {
  font-size: 11px;
}

/* line 166, ../scss/style.scss */
.main-nav {
  display: inline-block;
  *display: inline;
  vertical-align: bottom;
  width: 88%;
}
/* line 172, ../scss/style.scss */
.main-nav li {
  display: inline-block;
  *display: inline;
  vertical-align: bottom;
  margin-right: 15px;
}

/* line 179, ../scss/style.scss */
.cart {
  display: inline-block;
  *display: inline;
  vertical-align: bottom;
  width: 12%;
  white-space: nowrap;
}
/* line 186, ../scss/style.scss */
.cart a {
  background: url(../img/cart.png) left 9px no-repeat;
  padding-left: 25px;
  display: block;
}
/* line 192, ../scss/style.scss */
.cart span {
  display: block;
}
/* line 195, ../scss/style.scss */
.cart .items {
  display: inline;
}

/* line 199, ../scss/style.scss */
.outlet {
  background: url(../img/outlet.png) right center no-repeat;
  padding-right: 15px;
}

/*End of Header*/
/*Main Container*/
/* line 206, ../scss/style.scss */
.main-container .promo {
  border-bottom: 3px solid #000;
}
/* line 209, ../scss/style.scss */
.main-container .promo img {
  display: block;
  width: 100%;
}

/* line 215, ../scss/style.scss */
.promo-slider {
  overflow: hidden;
}
/* line 218, ../scss/style.scss */
.promo-slider > ul {
  float: left;
}
/* line 221, ../scss/style.scss */
.promo-slider img {
  display: block;
  width: 100%;
}
/* line 225, ../scss/style.scss */
.promo-slider .slider-thumbnails {
  width: 25.5%;
}
/* line 228, ../scss/style.scss */
.promo-slider .slider-slides {
  width: 74.5%;
}
/* line 231, ../scss/style.scss */
.promo-slider .slider-slides li {
  display: none;
}
/* line 234, ../scss/style.scss */
.promo-slider li.active {
  display: block;
}

/* line 238, ../scss/style.scss */
.img-promo-collection {
  overflow: hidden;
  margin-top: 20px;
}
/* line 243, ../scss/style.scss */
.img-promo-collection > li .wrap img {
  width: 100%;
}
/* line 246, ../scss/style.scss */
.img-promo-collection > li > .wrap {
  margin-bottom: 20px;
}
/* line 249, ../scss/style.scss */
.img-promo-collection > .odd > .wrap {
  margin-right: 15px;
}
/* line 252, ../scss/style.scss */
.img-promo-collection > .even > .wrap {
  margin-left: 15px;
}
/* line 255, ../scss/style.scss */
.img-promo-collection > li {
  float: left;
  width: 50%;
}
/* line 259, ../scss/style.scss */
.img-promo-collection .even {
  text-align: right;
}
/* line 263, ../scss/style.scss */
.img-promo-collection .small-size-promos li {
  float: left;
  width: 50%;
  margin-bottom: 17px;
}
/* line 268, ../scss/style.scss */
.img-promo-collection .small-size-promos .odd {
  text-align: left;
}
/* line 271, ../scss/style.scss */
.img-promo-collection .small-size-promos .even {
  text-align: right;
}
/* line 274, ../scss/style.scss */
.img-promo-collection .small-size-promos a img {
  width: 98%;
}
/* line 277, ../scss/style.scss */
.img-promo-collection .small-size-promos .odd .small-size-prom-wrap {
  margin-right: 6px;
}
/* line 280, ../scss/style.scss */
.img-promo-collection .small-size-promos .even .small-size-prom-wrap {
  margin-left: 6px;
}

/* line 286, ../scss/style.scss */
.full-width-promo img {
  width: 100%;
}

/*End of Main Container*/
/*Footer*/
/* line 293, ../scss/style.scss */
footer {
  padding-top: 25px;
}

/* line 297, ../scss/style.scss */
.sign-up-emails,
.social {
  float: left;
}

/* line 303, ../scss/style.scss */
.sign-up-emails {
  width: 59%;
}
/* line 306, ../scss/style.scss */
.sign-up-emails h4 {
  font-size: 12px;
  background: url(../img/mail.png) left center no-repeat;
  padding-left: 24px;
  display: inline;
}
/* line 312, ../scss/style.scss */
.sign-up-emails span {
  font-size: 10px;
}
/* line 315, ../scss/style.scss */
.sign-up-emails form {
  margin-top: 5px;
}
/* line 318, ../scss/style.scss */
.sign-up-emails input[type="text"] {
  width: 75%;
  height: 24px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 324, ../scss/style.scss */
.sign-up-emails input[type="button"] {
  width: 18%;
  margin-left: -3px;
}
/* line 328, ../scss/style.scss */
.sign-up-emails .wrap {
  border: 1px solid #000;
  margin-right: 10px;
  padding: 10px;
  min-height: 45px;
}

/* line 335, ../scss/style.scss */
.social {
  width: 41%;
}
/* line 338, ../scss/style.scss */
.social ul {
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
  min-height: 45px;
}
/* line 344, ../scss/style.scss */
.social li {
  display: inline-block;
  vertical-align: bottom;
  *display: inline;
  margin-left: 5px;
}
/* line 350, ../scss/style.scss */
.social li:first-child {
  margin-left: 0;
}
/* line 353, ../scss/style.scss */
.social a {
  padding: 20px 0 0 35px;
  display: block;
  background-position: left bottom;
  background-repeat: no-repeat;
}
/* line 359, ../scss/style.scss */
.social span {
  padding: 0 10px 0 0;
  background: url(../img/right-arrow.png) right 4px no-repeat;
}
/* line 363, ../scss/style.scss */
.social .facebook {
  background-image: url(../img/facebook.png);
}
/* line 366, ../scss/style.scss */
.social .pinterest {
  background-image: url(../img/pinterest.png);
}
/* line 369, ../scss/style.scss */
.social a.text {
  padding-left: 25px;
  background-image: url(../img/texts.png);
}

/* line 374, ../scss/style.scss */
.footer-nav {
  clear: both;
  overflow: hidden;
  padding: 25px 0 30px;
  font-size: 0;
}
/* line 380, ../scss/style.scss */
.footer-nav h5 {
  text-transform: uppercase;
  margin-bottom: 3px;
  font-size: 12px;
}
/* line 385, ../scss/style.scss */
.footer-nav li {
  margin-bottom: 3px;
}
/* line 388, ../scss/style.scss */
.footer-nav > ul > li {
  font-size: 11px;
  display: inline-block;
  *display: inline;
  vertical-align: top;
  width: 16.6%;
}
/* line 395, ../scss/style.scss */
.footer-nav .wrap {
  padding-right: 15px;
}
/* line 398, ../scss/style.scss */
.footer-nav .img-wrap {
  text-align: center;
}

/*End of Footer*/
/*------------------------
End of Main View
------------------------*/
/*------------------------
Ipad portrait
------------------------*/
@media only screen and (device-width: 768px) and (orientation: portrait), only screen and (max-width: 800px) {
  /*TODO change to 768px*/
  /* line 413, ../scss/style.scss */
  .container {
    width: 768px;
  }

  /* line 419, ../scss/style.scss */
  ul li.order-stat,
  ul li.sign-up,
  ul li.stores {
    display: none;
  }

  /* line 423, ../scss/style.scss */
  .main-nav li {
    max-width: 80px;
    text-align: center;
    margin-right: 7px;
  }

  /* line 428, ../scss/style.scss */
  .outlet {
    padding: 0;
    background: 0;
  }

  /* line 432, ../scss/style.scss */
  .logo-search-wrapper .search input[type="text"] {
    width: 40%;
  }

  /* line 435, ../scss/style.scss */
  .logo-search-wrapper .search {
    line-height: 58px;
  }

  /* line 438, ../scss/style.scss */
  .utility-dropdown {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0 0 0 7px;
  }

  /* line 445, ../scss/style.scss */
  .social ul {
    padding: 8px;
  }
  /* line 448, ../scss/style.scss */
  .social li {
    margin-left: 15px;
  }
  /* line 451, ../scss/style.scss */
  .social li:first-child {
    margin-left: 0;
  }
  /* line 454, ../scss/style.scss */
  .social a {
    padding: 35px 0 0 0;
    background-position: top center;
  }
  /* line 458, ../scss/style.scss */
  .social a.text {
    padding-left: 0;
  }

  /* line 462, ../scss/style.scss */
  .sign-up-emails span {
    float: right;
    width: 262px;
    color: #969969;
    margin-top: -5px;
  }

  /* line 468, ../scss/style.scss */
  .footer-nav {
    font-weight: normal;
  }
  /* line 471, ../scss/style.scss */
  .footer-nav .wrap {
    padding-right: 7px;
  }
  /* line 475, ../scss/style.scss */
  .footer-nav li,
  .footer-nav h5 {
    margin-bottom: 7px;
  }

  /* line 480, ../scss/style.scss */
  .img-promo-collection {
    margin-top: 12px;
  }
  /* line 484, ../scss/style.scss */
  .img-promo-collection > li > .wrap {
    margin-bottom: 12px;
  }
  /* line 487, ../scss/style.scss */
  .img-promo-collection > .odd > .wrap {
    margin-right: 7px;
  }
  /* line 490, ../scss/style.scss */
  .img-promo-collection > .even > .wrap {
    margin-left: 7px;
  }
  /* line 494, ../scss/style.scss */
  .img-promo-collection .small-size-promos li {
    margin-bottom: 10px;
  }
  /* line 497, ../scss/style.scss */
  .img-promo-collection .small-size-promos .odd .small-size-prom-wrap {
    margin-right: 3px;
  }
  /* line 500, ../scss/style.scss */
  .img-promo-collection .small-size-promos .even .small-size-prom-wrap {
    margin-left: 3px;
  }
}
/*------------------------
End of Ipad portrait
------------------------*/
/*------------------------
Smarthphones
------------------------*/
@media only screen and (min-device-width: 320px) and (max-device-width: 800px), only screen and (max-width: 480px) {
  /*TODO change to 320px*/
  /* line 519, ../scss/style.scss */
  .container {
    width: 100%;
  }

  /* line 529, ../scss/style.scss */
  .promo-detailed,
  .utility-dropdown,
  .search,
  .minimized-utilities ul,
  .mobile-search form,
  header .main-nav-container,
  .main-container .main-nav-container .cart {
    display: none;
  }

  /* line 533, ../scss/style.scss */
  .main-container .main-nav-container,
  .mobile-utilitys {
    display: block;
  }

  /* line 537, ../scss/style.scss */
  .cart a {
    padding-top: 3px;
    background-position: left 0;
  }
  /* line 541, ../scss/style.scss */
  .cart span {
    font-size: 0;
  }
  /* line 544, ../scss/style.scss */
  .cart .items {
    font-size: 11px;
  }

  /* line 548, ../scss/style.scss */
  .mobile-utilitys {
    text-align: center;
  }
  /* line 550, ../scss/style.scss */
  .mobile-utilitys > div {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0 5px;
  }
  /* line 557, ../scss/style.scss */
  .mobile-utilitys .cart {
    width: auto;
  }

  /* line 562, ../scss/style.scss */
  .show-utilities,
  .search-loupe {
    text-indent: -99999px;
    display: block;
  }

  /* line 566, ../scss/style.scss */
  .show-utilities {
    width: 27px;
    height: 22px;
    background: url(../img/utility-menu.png);
  }

  /* line 571, ../scss/style.scss */
  .search-loupe {
    width: 21px;
    height: 21px;
    background: url(../img/search-loupe.png);
  }

  /* line 578, ../scss/style.scss */
  .logo-search-wrapper .logo,
  .logo-search-wrapper .mobile-utilitys {
    width: 50%;
  }
  /* line 581, ../scss/style.scss */
  .logo-search-wrapper .logo .wrap {
    margin-right: 0;
  }
  /* line 584, ../scss/style.scss */
  .logo-search-wrapper .promo {
    width: 100%;
    border-top: 1px solid #d0d0d0;
    padding-top: 12px;
    margin-top: 12px;
  }
  /* line 589, ../scss/style.scss */
  .logo-search-wrapper .promo .wrap {
    border-right: 1px dotted #000;
    padding: 0 10px;
    margin: 0;
  }

  /* line 596, ../scss/style.scss */
  .main-nav-container {
    margin: 10px 0;
    padding: 0;
    border: 0;
  }

  /* line 601, ../scss/style.scss */
  .main-nav {
    width: 100%;
  }
  /* line 604, ../scss/style.scss */
  .main-nav ul {
    border: 1px solid #000;
  }
  /* line 607, ../scss/style.scss */
  .main-nav li {
    display: block;
    max-width: none;
    text-align: left;
    border-top: 1px solid #e2e5e7;
    background: url(../img/right-arrow-big.png) right center no-repeat;
  }
  /* line 614, ../scss/style.scss */
  .main-nav li:first-child {
    border: 0;
  }
  /* line 615, ../scss/style.scss */
  .main-nav a {
    display: block;
    padding: 5px 25px 5px 20px;
  }
  /* line 619, ../scss/style.scss */
  .main-nav span {
    font-size: 14px;
  }

  /* line 623, ../scss/style.scss */
  .outlet {
    background: url(../img/outlet.png) right center no-repeat;
    padding-right: 15px;
  }

  /* line 627, ../scss/style.scss */
  .main-container .promo {
    border: none;
    border-top: 3px solid #000;
  }

  /* line 631, ../scss/style.scss */
  .promo-slider {
    border-bottom: 3px solid #000;
  }

  /* line 634, ../scss/style.scss */
  .img-promo-collection > li {
    width: 100%;
    margin-top: 5px;
  }

  /* line 639, ../scss/style.scss */
  .img-promo-collection > .even > .wrap,
  .img-promo-collection > .odd > .wrap {
    margin: 0;
    padding: 0;
  }

  /* line 644, ../scss/style.scss */
  .img-promo-collection,
  .img-promo-collection > li:first-child {
    margin: 0;
  }

  /* line 648, ../scss/style.scss */
  .sign-up-emails,
  .social {
    width: 100%;
  }

  /* line 651, ../scss/style.scss */
  .sign-up-emails {
    margin-bottom: 10px;
  }
  /* line 654, ../scss/style.scss */
  .sign-up-emails .wrap {
    margin: 0;
  }
  /* line 657, ../scss/style.scss */
  .sign-up-emails h4 {
    font-size: 14px;
  }
  /* line 660, ../scss/style.scss */
  .sign-up-emails span {
    float: none;
    display: block;
    padding: 5px 0 0 24px;
    color: #000;
  }

  /* line 667, ../scss/style.scss */
  footer {
    padding-top: 15px;
  }

  /* line 671, ../scss/style.scss */
  .footer-nav > ul > li {
    width: 50%;
    margin-bottom: 35px;
  }
  /* line 676, ../scss/style.scss */
  .footer-nav h5,
  .footer-nav li {
    margin-bottom: 10px;
  }
  /* line 679, ../scss/style.scss */
  .footer-nav .img-wrap {
    text-align: left;
  }
}
/*------------------------
End of Iphone portrait
------------------------*/
