/* line 1, ../scss/_global.scss */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
  display: none !important; }

/* line 10, ../scss/_global.scss */
ng\:form {
  display: block; }

/* line 14, ../scss/_global.scss */
html, body {
  height: 100%;
  min-height: 100%;
  margin: 0; }

/* line 25, ../scss/_global.scss */
video {
  max-height: 100%;
  max-width: 100%; }

/* line 29, ../scss/_global.scss */
.browser-not-supported-msg {
  position: fixed;
  top: 40%;
  z-index: 5;
  left: 5%;
  right: 5%;
  text-align: center; }

/* line 37, ../scss/_global.scss */
.main-wrap {
  position: relative;
  z-index: 1;
  min-height: 100%;
  background: url(./../img/min/background1.jpg);
  background-size: cover; }
/* line 44, ../scss/_global.scss */
.main-wrap:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0; }
/* line 53, ../scss/_global.scss */
.main-wrap.connected .main-container {
  display: block; }
/* line 57, ../scss/_global.scss */
.main-wrap.connected .connect-bar .btn-leave {
  display: inline-block; }
/* line 60, ../scss/_global.scss */
.main-wrap.connected .connect-bar .btn-connect {
  display: none; }
/* line 66, ../scss/_global.scss */
.main-wrap.logged .chat-login {
  display: none; }
/* line 71, ../scss/_global.scss */
.main-wrap.logged.chat-open .chat-trigger label:before {
  border-right: 0;
  border-left: 6px solid #FFF;
  left: auto;
  right: 8px; }
/* line 77, ../scss/_global.scss */
.main-wrap.logged.chat-open .chat-trigger.unread:before {
  display: none; }
/* line 81, ../scss/_global.scss */
.main-wrap.logged.chat-open .videos-container {
  width: 58%; }
/* line 84, ../scss/_global.scss */
.main-wrap.logged.chat-open .chat-container {
  right: 1%; }

/* line 90, ../scss/_global.scss */
.btn-connect {
  margin: 0 20px; }

/* line 93, ../scss/_global.scss */
.btn-connect, .btn-leave {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 50px;
  cursor: pointer; }
/* line 101, ../scss/_global.scss */
.btn-connect img, .btn-leave img {
  width: 100%; }

/* line 105, ../scss/_global.scss */
.connect-bar {
  position: fixed;
  text-align: center;
  padding: 2px 0;
  width: 100%;
  bottom: 0; }
/* line 112, ../scss/_global.scss */
.connect-bar:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .3; }
/* line 122, ../scss/_global.scss */
.connect-bar .btn {
  position: relative;
  z-index: 1; }
/* line 126, ../scss/_global.scss */
.connect-bar .btn-leave {
  display: none; }

/* line 130, ../scss/_global.scss */
.main-container {
  display: none;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%; }

/* line 139, ../scss/_global.scss */
.videos-container {
  padding: 10px 0 65px;
  height: 100%;
  width: 100%;
  text-align: center;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out; }

/* line 147, ../scss/_global.scss */
.peers-container {
  font-size: 0;
  height: 65%; }
/* line 150, ../scss/_global.scss */
.peers-container video {
  height: 100%; }
/* line 153, ../scss/_global.scss */
.peers-container .video-wrap {
  display: inline-block;
  text-align: center;
  padding: 0 10px 10px; }

/* line 171, ../scss/_global.scss */
.peers-1 .video-wrap {
  width: 100%;
  height: 100%; }

/* line 171, ../scss/_global.scss */
.peers-2 .video-wrap {
  width: 50%;
  height: 100%; }

/* line 171, ../scss/_global.scss */
.peers-3 .video-wrap {
  width: 33.33333%;
  height: 50%; }

/* line 171, ../scss/_global.scss */
.peers-4 .video-wrap {
  width: 33.33333%;
  height: 50%; }

/* line 171, ../scss/_global.scss */
.peers-5 .video-wrap {
  width: 33.33333%;
  height: 50%; }

/* line 171, ../scss/_global.scss */
.peers-6 .video-wrap {
  width: 33.33333%;
  height: 50%; }

/* line 176, ../scss/_global.scss */
.my-stream-container {
  height: 35%; }
/* line 179, ../scss/_global.scss */
.my-stream-container video {
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1); }

/* line 183, ../scss/_global.scss */
.chat-wrap {
  border-radius: 5px;
  overflow: hidden;
  background: #FFF;
  height: 100%;
  position: relative; }

/* line 190, ../scss/_global.scss */
.chat-container {
  width: 40%;
  position: absolute;
  z-index: 2;
  top: 10px;
  right: -40%;
  bottom: 65px;
  -moz-transition: right 0.3s ease-in-out;
  -o-transition: right 0.3s ease-in-out;
  -webkit-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out; }

/* line 201, ../scss/_global.scss */
.chat-login {
  width: 215px;
  position: absolute;
  right: -215px;
  top: 0;
  box-shadow: 0 0 1px 0px #FFF;
  border-radius: 3px;
  -moz-transition: right 0.3s ease-in-out;
  -o-transition: right 0.3s ease-in-out;
  -webkit-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out; }

/* line 211, ../scss/_global.scss */
.chat-trigger {
  position: absolute;
  z-index: 1;
  right: 100%;
  bottom: 36px; }
/* line 217, ../scss/_global.scss */
.chat-trigger.show-login .chat-login {
  right: 0; }
/* line 220, ../scss/_global.scss */
.chat-trigger:before {
  content: '';
  position: absolute;
  z-index: 1;
  left: -3px;
  top: -3px;
  width: 15px;
  height: 15px;
  background: #FFD634;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #FFF;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
/* line 235, ../scss/_global.scss */
.chat-trigger.unread:before {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1); }
/* line 239, ../scss/_global.scss */
.chat-trigger input {
  display: none; }
/* line 242, ../scss/_global.scss */
.chat-trigger label {
  background: #5BC0DE;
  display: block;
  color: #FFF;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  padding: 0 20px;
  margin: 0;
  height: 34px;
  line-height: 34px;
  text-transform: uppercase;
  box-shadow: 0 0 1px 0px #FFF; }
/* line 255, ../scss/_global.scss */
.chat-trigger label:before {
  content: '';
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid #FFF;
  position: absolute;
  top: 11px;
  left: 8px; }

/* line 268, ../scss/_global.scss */
.chat-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 1px 0px #545454;
  text-align: center; }
/* line 276, ../scss/_global.scss */
.chat-header h4 {
  margin: 0;
  line-height: 34px; }

/* line 281, ../scss/_global.scss */
.chat-msgs {
  position: absolute;
  top: 34px;
  bottom: 70px;
  left: 0;
  width: 100%;
  overflow-y: auto;
  padding: 5px; }

/* line 290, ../scss/_global.scss */
.chat-send-msg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }
/* line 296, ../scss/_global.scss */
.chat-send-msg textarea {
  height: 70px;
  resize: none;
  border-radius: 0; }
/* line 301, ../scss/_global.scss */
.chat-send-msg .btn {
  height: 100%;
  padding: 0 12px;
  border: 0;
  border-radius: 0; }

/* line 315, ../scss/_global.scss */
.msgs-list {
  width: 100%; }

/* line 318, ../scss/_global.scss */
.msg-item {
  position: relative;
  list-style: none;
  margin-bottom: 5px; }
/* line 323, ../scss/_global.scss */
.msg-item .name {
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px 8px;
  text-align: center;
  color: #FFF;
  background: #6989DF;
  border-radius: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }
/* line 337, ../scss/_global.scss */
.msg-item .msg {
  display: block;
  position: relative;
  word-break: break-word;
  margin: 0 65px 0 115px;
  padding: 4px 8px;
  color: #FFF;
  background: #6989DF;
  border-radius: 5px; }
/* line 347, ../scss/_global.scss */
.msg-item .msg:before {
  content: '';
  position: absolute;
  left: -6px;
  top: 8px;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid #6989DF; }
/* line 358, ../scss/_global.scss */
.msg-item .msg a {
  color: #FFF;
  text-decoration: underline; }
/* line 362, ../scss/_global.scss */
.msg-item .msg a:hover {
  text-decoration: none; }
/* line 367, ../scss/_global.scss */
.msg-item .time {
  width: 50px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 8px;
  text-align: right; }

/* line 378, ../scss/_global.scss */
.local-msg .name {
  display: none; }
/* line 381, ../scss/_global.scss */
.local-msg .msg {
  background: #5BC0DE; }
/* line 384, ../scss/_global.scss */
.local-msg .msg:before {
  left: auto;
  right: -6px;
  border-right: 0;
  border-left: 6px solid #5BC0DE; }

@media (max-width: 991px) {
  /* line 394, ../scss/_global.scss */
  .chat-stream-container, .my-stream-container {
    width: auto; }

  /* line 398, ../scss/_global.scss */
  .my-stream-container {
    padding: 10px; }

  /* line 410, ../scss/_global.scss */
  .peers-1 .video-wrap {
    width: 100%; }

  /* line 410, ../scss/_global.scss */
  .peers-2 .video-wrap {
    width: 50%; }

  /* line 410, ../scss/_global.scss */
  .peers-3 .video-wrap {
    width: 50%; }

  /* line 410, ../scss/_global.scss */
  .peers-4 .video-wrap {
    width: 50%; }

  /* line 410, ../scss/_global.scss */
  .peers-5 .video-wrap {
    width: 50%; }

  /* line 410, ../scss/_global.scss */
  .peers-6 .video-wrap {
    width: 50%; } }
@media (max-width: 737px) {
  /* line 419, ../scss/_global.scss */
  .main-wrap.logged.chat-open .videos-container {
    width: 100%; }
  /* line 422, ../scss/_global.scss */
  .main-wrap.logged.chat-open .chat-container {
    right: 1%; }

  /* line 427, ../scss/_global.scss */
  .chat-trigger {
    position: fixed;
    right: 0px;
    bottom: 10px; }

  /* line 432, ../scss/_global.scss */
  .chat-container {
    width: 98%;
    right: -98%; }

  /* line 437, ../scss/_global.scss */
  .chat-login {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    box-shadow: none;
    top: -8px; } }

/*# sourceMappingURL=base.css.map */
