.lds-pacman {
  position: fixed;
  width: 120px;
  height: 120px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

@keyframes lds-pacman-1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

@-webkit-keyframes lds-pacman-1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

@keyframes lds-pacman-2 {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  50% {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg); }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); } }

@-webkit-keyframes lds-pacman-2 {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  50% {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg); }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); } }

@keyframes lds-pacman-3 {
  0% {
    -webkit-transform: translate(190px, 0);
            transform: translate(190px, 0);
    opacity: 0; }
  20% {
    opacity: 1; }
  100% {
    -webkit-transform: translate(70px, 0);
            transform: translate(70px, 0);
    opacity: 1; } }

@-webkit-keyframes lds-pacman-3 {
  0% {
    -webkit-transform: translate(190px, 0);
            transform: translate(190px, 0);
    opacity: 0; }
  20% {
    opacity: 1; }
  100% {
    -webkit-transform: translate(70px, 0);
            transform: translate(70px, 0);
    opacity: 1; } }

.lds-pacman > div:nth-child(2) div {
  position: absolute;
  width: 120px;
  height: 60px;
  border-radius: 120px 120px 0 0;
  background: #fc0;
  -webkit-animation: lds-pacman-1 1s linear infinite;
          animation: lds-pacman-1 1s linear infinite;
  -webkit-transform-origin: 60px 60px;
      -ms-transform-origin: 60px 60px;
          transform-origin: 60px 60px; }

.lds-pacman > div:nth-child(2) div:first-child {
  z-index: 1;
  background: #007aff; }

.lds-pacman > div:nth-child(2) div:nth-child(2) {
  -webkit-animation: lds-pacman-2 1s linear infinite;
          animation: lds-pacman-2 1s linear infinite; }

.lds-pacman > div:nth-child(1) div {
  position: absolute;
  top: 50%;
  left: -8px;
  width: 24px;
  height: 24px;
  margin-top: -12px;
  border-radius: 50%;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAABZwAAAWcBcp21pQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAIkSURBVEiJ7ZPNS5RRGMV/zztjYmN+lLtCW9hawXwnaSj1nQKjoFpEm3ZtguoPcJGzMIJwHQV9bFwEQqsg/Bgx3JTT0CpaaBiF2SJT8x2lcua0GI0cxxklrI1nc7nPc+855557L+zgf8MKNWdbG6tKArs6zTi4GbIMzAQdbpcNjE0WFVAMZ3HUfS6ImDEhmM9xVilRD/qE2TSiAjgEvAntrWuwvr50QTcLUfea77ny28O38vVTbeFTvucq5YVvrNZ8L/zY91wtRJsvrNacfJuXok21Jm4C46HSmVhBJ2uOpUfZwTq1kk5egbSCd4E9OLpizya+b5Y/NJseBr4CDX40fD6vwILXfB3UYbIn5YOJ+KbdA5ZM/gQbzJ5CPWppKTM1NZX4VcGIQyYCdlIQWVk/BfZ2YzrVAI0G74RN/lFvBioBJOs2v90dwTi+FadbwJSDcWybyAH2OxT5bH+LvK9oWwUELwKWrjPkAl+KEQjuZaAGdCk7XS8wn1O4XzaU/BCKJxJgT4sJZNKBnor42Ex5PNErmMxpzwUNnZBZK7IgqEtwTh31vaml6mpQGzCOeJBLbA4HJK4Gg8sXge5vbYePGtSCBpHFcciYNLLmglPtbpeMmIEvKM1mYKfLh18OrIsmhpMaDfeDosAc2bf/2QkovHsg8fG3kdyNKc89KzhjxiJkHoaGXr3eKB511Jf6P/ZdNjgi8d4pWb4T6k9OF8x0B/8cvwCA1sAx4f/BQQAAAABJRU5ErkJggg==");
  -webkit-animation: lds-pacman-3 1s linear infinite;
          animation: lds-pacman-3 1s linear infinite; }

.lds-pacman > div:nth-child(1) div:nth-child(1) {
  -webkit-animation-delay: -0.67s;
          animation-delay: -0.67s; }

.lds-pacman > div:nth-child(1) div:nth-child(2) {
  -webkit-animation-delay: -0.33s;
          animation-delay: -0.33s; }

.lds-pacman > div:nth-child(1) div:nth-child(3) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }

html,
body {
  min-height: 100%;
  height: 100%;
  background: #122133;
  color: #FFF;
  margin: 0; }

.nowrap {
  white-space: nowrap; }

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .app .app__container {
    display: block;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 10px; }
  [inline-template] .app__container {
    display: none; }
  .app__loader {
    display: none; }
    [inline-template] .app__loader {
      height: 70vh;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .app__enable-flash {
    display: none; }
    .desktop .app__enable-flash {
      display: block; }
  .app__wrap {
    width: 100%; }
  .app__stream-wrap {
    position: relative;
    padding-top: 80%;
    width: 100%;
    border-bottom: 100px solid transparent; }
  .app__stream {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #FFF; }
    .app__stream-data {
      position: absolute; }
      .app__stream-data th, .app__stream-data td {
        text-align: center;
        vertical-align: center; }
    @media (orientation: landscape) {
      .mobile .app__stream {
        position: fixed;
        z-index: 999;
        width: 100vw;
        height: 100vh; } }
  .app__error {
    position: fixed;
    top: 40%;
    line-height: 1.5;
    left: 10px;
    right: 10px; }

.main-title {
  margin-top: 10px;
  text-align: center; }
  @media (min-width: 600px) {
    .main-title {
      width: 100%; } }
  @media (max-width: 600px) {
    .main-title {
      font-size: 22px; } }

.favorite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 350px;
  margin: 0 auto 15px;
  z-index: 1; }
  @media (max-width: 600px) {
    .favorite {
      position: fixed;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      margin-bottom: 5px; } }
  .favorite__item {
    font-size: 12px; }

/*# sourceMappingURL=base.css.map */
