<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
	<title>Камери на кордоні</title>
	<link rel="manifest" href="manifest.json">
	<link rel="shortcut icon" type="image/x-icon" href="img/dest/favicon.ico">
	<script>
		var sourceLoader = {
			isDev: location.search.split('dev=')[1] == 'true' ? true : false,
			devCss: [
				'css/reset.css',
				'css/bootstrap_3.2.0.min.css',
				'css/base.css'
			],
			devJs: [
				'https://cdn.jsdelivr.net/npm/vue@2.6.9/dist/vue.js',
				'js/app.js'
			],
			prodCss: ['css/base_min.css'],
			prodJs: [
				'https://cdn.jsdelivr.net/npm/vue@2.6.9/dist/vue.min.js',
				'js/app_min.js'
			],
			loadCss: function(){
				var cssArray = this.isDev ? this.devCss : this.prodCss;

				for(var i=0; i<cssArray.length; i++)
					document.write('<link rel="stylesheet" href="'+ cssArray[i] +'">');
			},
			loadJs: function(){
				var jsArray = this.isDev ? this.devJs : this.prodJs;

				for(var i=0; i<jsArray.length;  i++)
					document.write('<script src="'+ jsArray[i] +'"><\/script>');
			}
		}
		//Load css files
		sourceLoader.loadCss();
	</script>
</head>
<body>
	<header>
		<h1 class="main-title">Камери на кордоні</h1>
	</header>
	<main id="app" class="app">
		<border-cams inline-template>
			<div class="app__wrap">
				<div class="app__loader">
					<div class="lds-pacman">
						<div><div></div><div></div><div></div></div><div><div></div><div></div></div>
					</div>
				</div>

				<div class="app__container">
					<template v-if="err">
						<h3 class="app__error text-center">{{ err }}</h3>
					</template>
					<template v-else>
						<div v-if="favoriteItems.length" class="btn-group-vertical favorite">
							<button v-for="item in favoriteItems"
								v-bind:class="['btn btn-default favorite__item', { 'active' : item.src === streamSrc }]"
								@click="streamSrc = item.src"
							>
								{{ item.name }}
							</button>
						</div>
						<h6 class="app__enable-flash text-center">
							Якщо відео не відображається. <a href="https://get.adobe.com/flashplayer">Активуйте Flash</a>
						</h6>
						<div class="app__stream-wrap">
							<iframe v-if="streamSrc"
								class="app__stream"
								scrolling="no"
								frameborder="0"
								referrerpolicy="no-referrer"
								:src="`javascript:window.location.replace('${streamSrc}')`"
								:key="streamSrc"
							></iframe>
							<table v-if="activeCamData && activeCamData.textData" class="table table-bordered table-condensed app__stream-data">
								<thead>
									<tr>
										<th>Час очікування <span class="nowrap">UA → EU</span></th>
										<th>Час очікування <span class="nowrap">EU → UA</span></th>
										<th>Актуалізація даних</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>{{ translate(activeCamData.waitTimeToEU) }}</td>
										<td>{{ translate(activeCamData.waitTimeToUA) }}</td>
										<td>{{ activeCamData.updatedTime }}</td>
									</tr>
									<tr>
										<td colspan="3">
											<small>* Дані представлені в таблиці є орієнтовними.</small>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</template>
				</div>
			</div>
		</border-cams>
	</main>
	<div class="script-section">
		<script>
			//Load js files
			sourceLoader.loadJs();
		</script>
	</div>
</body>
</html>