/files/**/node_modules/
/files/**/.sass-cache/
/files/**/package-lock.json
*/.sass-cache/
/app_parts/configDev.js
/openshiftEnv.txt
/files/FE interns/
/files/share/
/files/Fast tests/
/files/UpdateChanList/LastValidPlaylist/server/
/env_vars.txt
/node_modules
