$mobileWidth: 600px;

html,
body{
	min-height: 100%;
	height: 100%;
	background: #122133;
	color: #FFF;
	margin: 0;
}

.nowrap {
	white-space: nowrap;
}

.app {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
	& &__container {
		display: block;
		max-width: 700px;
		margin: 0 auto;
		padding: 0 10px;
	}

	[inline-template] &__container {
		display: none;
	}

	&__loader {
		display: none;
		

		[inline-template] & {
			height: 70vh;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	&__enable-flash {
		display: none;

		.desktop & {
			display: block;
		}
	}

	&__wrap {
		width: 100%;
	}

	&__stream-wrap {
		position: relative;
		padding-top: 80%;
		width: 100%;
		border-bottom: 100px solid transparent;
	}

	&__stream {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		background-color: #FFF;

		&-data {
			position: absolute;

			th, td {
				text-align: center;
			}
		}

		.mobile & {
			@media (orientation: landscape) {
				position: fixed;
				z-index: 999;
				width: 100vw;
				height: 100vh;
			}
		}
	}

	&__error {
		position: fixed;
		top: 40%;
		line-height: 1.5;
		left: 10px;
		right: 10px;
	}
}

.main-title {
	margin-top: 10px;
	text-align: center;

	@media (min-width: $mobileWidth) {
		width: 100%;
	}
}

.favorite {
	display: flex;
	flex-wrap: wrap;
	max-width: 350px;
	margin: 0 auto 15px;

	@media (max-width: $mobileWidth) {
		position: fixed;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}

	&__item {
		font-size: 12px;
	}
}