extends layout
block facebookLogin
	include facebookLogin
block pageConfigValues
	include pageConfigValues
block adminPanel
	div.force-generate-playlist
		a.js-force-generate-playlists.btn.btn-success(href="/playlistForceGenerate", title="Force generate playlists") Force generate playlists