.js-context-menu
	ul.dropdown-menu.js-context-dropdown(is-file="false" dyn-obj-prop="isFile" dyn-attr="is-file")
		li
			a.js-context-item.js-create-folder(data-action='create', href='#') Create Folder
		li
			a.js-context-item.js-rename(data-action='rename', href='#') Rename
		li
			a.js-context-item.js-delete(data-action='delete', href='#') Delete
		li
			a.js-download(href='#' dyn-obj-prop="fullPath" dyn-attr="href" download) Download
	ul.js-context-action-list
		li.js-context-action(data-action='create')
			form(action='/create', ajax='true', ajax-success='fileExplorer.created')
				.form-group
					span Create folder here "Home
						span(dyn-obj-prop='oldPath')
						|" ?
				.form-group
					input.form-control(type='text', name='name', data-validate-type='notEmpty', placeholder='Folder name')
					input.form-control(type='hidden', name='oldPath', dyn-obj-prop='oldPath')
				.form-group.form-btn-group
					button.btn.btn-success(type='submit') Create
					button.js-action-cancel.btn.btn-danger(type='button') Cancel
		li.js-context-action(data-action='rename')
			form(action='/rename', ajax='true', ajax-success='fileExplorer.renamed')
				.form-group
					span Rename "
						span(dyn-obj-prop="oldName")
						|" ?
				.form-group
					input.form-control(type='text', name='name', dyn-obj-prop='oldName', data-validate-type='notEmpty', placeholder='Name')
					input.form-control(type='hidden', name='oldPath', dyn-obj-prop='oldPath')
					input.form-control(type='hidden', name='oldName', dyn-obj-prop='oldName')
				.form-group.form-btn-group
					button.btn.btn-success(type='submit') Rename
					button.js-action-cancel.btn.btn-danger(type='button') Cancel
		li.js-context-action(data-action='delete')
			form(action='/delete', ajax='true', ajax-success='fileExplorer.deleted')
				.form-group
					span Delete "
						span(dyn-obj-prop="oldName")
						|" ?
				.form-group.form-btn-group
					input.form-control(type='hidden', name='oldPath', dyn-obj-prop='oldPath')
					input.form-control(type='hidden', name='oldName', dyn-obj-prop='oldName')
					button.btn.btn-success(type='submit') Delete
					button.js-action-cancel.btn.btn-danger(type='button') Cancel