.login-container.js-login-container
	-if(user.isLogged)
		a.js-fb-logOut.fb-log
			img(src="/img/fs_signOut.png", )
	-else
		a.js-fb-logIn.fb-log
			img(src="/img/fs_signIn.png", )
	-if(user.isLogged)
		div.user-info
			a(href="/admin")
				img.user-img(src="#{user.avatar}", title="#{user.name}")
			span.user-name.hidden=user.name