-var mainTitle = typeof title != 'undefined' ? title : 'File Explorer';

doctype
html
	head
		title Explorer
		link(rel="shortcut icon", type="image/x-icon", href="/img/favicon.ico")
		meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
		link(type='text/css', rel='stylesheet', href='/css/reset.css')
		link(type='text/css', rel='stylesheet', href='/css/bootstrap.min.css')
		link(type='text/css', rel='stylesheet', href='/css/style.css')
	body(class= user && user.isLogged == true ? 'user-logged' : '')
		#section-container
			#header
				h1
					a(href="/", title="Go to home page")=mainTitle
				block facebookLogin
			#content(class='clearfix')
				#dynamicContent
					block explorer
				block error404
				block adminPanel
		include uploadSection
		block contextMenu
		#loading
			img(src="/img/ajax-loader1.gif", width="32", height="32", alt="loader")
		div.script-container
			block pageConfigValues
			include scriptInclude