div.js-upload-section.panel-hide
	div.panel.panel-info
		div.panel-heading
			h4 Main progress
			h5.overal-prog-info
				span.js-overal-name
				span.js-overal-value.badge 0/0
			div.progress
				div.progress-bar.progress-bar-info.progress-bar-striped.js-overal-progress(style='width: 0%')
					| 0%
		div.panel-body
			ul.list-group.js-file-list