* {
	-webkit-transition: width, height, margin, padding 0.3s ease;
	-moz-transition: width, height, margin, padding 0.3s ease;
	-ms-transition: width, height, margin, padding 0.3s ease;
	-o-transition: width, height, margin, padding 0.3s ease;
}
html,
body{
    height: 100%;
    min-height: 100%;
    font-family: arial;
    font-size: 12px;
}
#section-container{
    min-height: 100%;
    background: #172D3B;
    color: #9DDCFF;
}
a{
    color: #9DDCFF;
    text-decoration: none;
}
a:hover,
a:focus{
    color: #FDFFFF;
}
th{
	font-weight: bold;
}
#header{
	padding: 20px 50px;
	overflow: hidden;
	position: relative;
}
#header h1{
    font: bold 20px arial;
    text-align: center;
    margin: 0;
    position: relative;
    z-index: 1;
}
.logo {
    width: 20px;
    margin: 0 2px;
    display: inline-block;
    vertical-align: middle;
}

#header h1:hover .logo .st2 {
    stroke: #FFF;
}
#content{
    padding: 0 50px 50px;
}
#explorerWrapper{
    border: 1px solid #20668D;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 1px #fff;
}
#dirTree{
    position: relative;
    padding: 5px 10px;
}
#dirTree:before{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    background: #20668D;
    height: 100%;
    width: 100%;
    border-radius: 7px 7px 0 0;}
#dirTree ul{
    position: relative;
    z-index: 2;
    margin-bottom: 0;
}
#dirTree li{
    display: inline-block;
    *display: inline;
    margin: 0 5px 0 0;
    position: relative;
}
#dirTree li:before{
    content: '/';
    display: inline-block;
    margin: 0 5px 0 0;
}
#dirTree li:first-child:before{
    content: '';
    margin: 0;
}
#dirTree a{
    color: #FFFFFF;
}
#dirTree a:hover{
    text-decoration: underline;
}
#fileTree{
    padding: 15px;
}
#fileTree ul{
    margin: 0;
}
#fileTree li{
    cursor: pointer;
}
#fileTree a{
    display: block;
    padding: 2px 0;
    position: relative;
    z-index: 1;

    webkit-transition: padding .2s ease-in-out;
    -moz-transition: padding .2s ease-in-out;
    -o-transition: padding .2s ease-in-out;
    -ms-transition: padding .2s ease-in-out;
    transition: padding .2s ease-in-out;
}
#fileTree a:hover,
.js-link-operations.active{
    background: #20668D;
}
#fileTree a span{
    vertical-align: middle;
}
#fileTree a img{
    margin-right: 5px;
    width: 28px;
    height: 24px;
}
#loading {
    position: fixed;
    padding: 2px;
    color: #FFF;
    opacity: 0.90;
    width: 31px;
    height: 31px;
    text-align: center;
    z-index: 100000;
    left: 50%;
	top: 50%;
	margin: 5px 0 0 5px;
    display: none;
}
#errorPage{
    text-align: center;
}
#errorPage h1{
    font-size: 120px;
}
#errorPage h4{
    font-size: 25px;
    padding: 20px 0;
}

@-webkit-keyframes blink {
from { color: #9DDCFF; }
to { color: #92F099; }
}
#errorPage a{
    -webkit-animation-name: blink;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    -webkit-animation-duration: 1s;
    font-size: 16px;
}
.js-upload-section{
    position: fixed;
    right: 10px;
    bottom: -20px;
    width: 350px;

    webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    z-index: 2;
}
.panel-hide{
    bottom: -700px;
}
.js-file-list{
    margin: 0;
}
.js-file-item-name{
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}
.js-file-item .progress{
    width: 50%;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    height: 15px;
}
.js-file-item-progress{
    font-size: 10px;
    line-height: 15px;
}
.overal-prog-info{
    overflow: hidden;
}
.js-overal-name{
    float: left;
    width: 75%;
    margin-top: 2px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.js-overal-value{
    float: right;
}
.js-upload-section .panel-heading .progress{
    margin: 0;
}



#fileTree .js-dynamicReload.on-drag-over{
    padding-left: 22px;
}
#dirTree .glyphicon-cloud-upload,
#fileTree .glyphicon-cloud-upload{
    position: absolute;
    left: 5px;
    font-size: 14px;
    top: 6px;
    color: #3EE7CD;
    z-index: -1;

    webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
#dirTree .glyphicon-cloud-upload{
    position: absolute;
    visibility: hidden;
    top: -70px;
    font-size: 30px;
    left: 50%;
    margin-left: -15px;
    opacity: 0;
}
.on-drag-over #dirTree .dir:last-child .glyphicon-cloud-upload,
#dirTree .on-drag-over .glyphicon-cloud-upload{
    visibility: visible;
    opacity: 1;
    top: -35px;
}
.js-context-dropdown{
    display: block;
    margin: 0;
    z-index: initial;
    float: none;
}
.js-context-menu{
    position: absolute;
    visibility: hidden;
    z-index: 1000;
    top: -9999px;
    left: -9999px;
}

.context-upload {
    display: none !important;
}

.dropdown-menu .context-item {
    display: block;
    padding: 3px 10px;
    margin: 0;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
}

.dropdown-menu .input-group {
    display: table;
}

.dropdown-menu .context-item:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

.js-context-action{
    padding: 0 10px;
}
.form-btn-group{
    overflow: hidden;
}
.js-context-action-list .btn-success{
    float: left;
}
.js-context-action-list .btn-danger{
    float: right;
}
.form-group{
    position: relative;
}
.form-group:last-child,
.js-context-action-list{
	margin-bottom: 0;
}
.js-context-action form{
	padding: 5px 0;
}
.error-message{
    top: 0px;
    left: 0;
	color: #FF6F6F;
	position: absolute;
	font-size: 12px;
	text-align: center;
	visibility: hidden;
	margin-bottom: -12px;
	z-index: 1000;
	padding-bottom: 10px;
}
.error-message-content{
	padding: 9px;
	background: #1A1C35;  border-radius: 10px;
}
.error-message .arrow{
	border-bottom: 0;
	border-top: 10px solid #1A1C35;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	display: inline-block;
	position: absolute;
	left: 50%;
	margin-left: -10px;
	bottom: 0;
}
.form-control:focus {
    position: relative;
    z-index: 1001;
}
.js-context-action,
.js-context-dropdown{
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

	position: absolute;
	top: 0;
	padding-top: 5px;
	padding-bottom: 5px;
    width: 250px;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.js-context-action,
.js-context-dropdown.fade-out{
	-ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
}
.js-context-action.fade-in,
.js-context-dropdown{
	-ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}
.js-context-dropdown .js-download{
    display: none;
}
.js-context-dropdown[is-file="true"] .js-download{
    display: block;
}
.visible{
	visibility: visible !important;
}
.js-upload-section .panel{
	position: relative;
}
.js-hide-upload{
	position: absolute;
	right: 15px;
	top: 10px;
	width: 0;
	height: 0;
	cursor: pointer;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #20668D;
}
.login-container {
	position: absolute;
	right: 50px;
	top: 16px;
}
.login-container > * {
	position: relative;
	z-index: 2;
}
.user-logged .login-container {
	top: 5px;
}
.user-img {
	border-radius: 50%;
	box-shadow: 0 0 6px -2px #FFF;
}
#fb-login-btn {
	display: block;
}
.fb-log {
	cursor: pointer;
}
.fb-log img {
	width: 70px;
	border-radius: 4px;
}
.user-info {
	display: inline-block;
	margin-left: 8px;
}
.aliases-list-container {
	color: #000;
	font-size: 13px;
}
.alias-url-title {
	width: 30%;
}
.alias-actual-url-title {
	width: 50%;
}
.alias-action-title {
	width: 20%;
}
.js-input-change {
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid transparent;
	background: transparent;
}
.js-input-change:focus {
	outline: 0;
	border-color: #4CB6C7;
}
.table-action-cell,
.center{
	text-align: center;
}
.table-action-cell .btn {
	margin: 5px 2px;
}
.js-data-edid {
	display: none;
}
.changed .js-data-edid {
	display: inline-block;
}
.add-alias-pan input{
	width: 100%;
}
.server-actions-holder a {
	margin-top: 10px;
}
.server-actions-holder a:first-child,
.server-actions-holder .output-btn{
	margin-top: 0;
}
.output-btn {
	float: right;
}
.add-alias-pan input[type="text"] {
	margin-bottom: 4px;
}
.visible {
    overflow: visible;
}
.user-isadmin-title {
	width: 10%
}
.user-table th.table-action-cell {
	width: 20%;
}
.send-email-form .btn{
	width: 100%;
}
.send-email-form textarea {
	height: 360px;
	max-height: 80vh;
	resize: none;
}
.send-email-form .input-group,
.send-email-form .btn{
	margin-top: 15px;
}
.send-email-form h3 {
	margin-top: 0;
}
.modal {
	display: none;
	position: fixed;
	width: 1000px;
	top: 5%;
	left: 50%;
	margin: 0 0 0 -500px;
	z-index: 99999;
	background: #ECECEC;
    box-shadow: 0 0 0px 1px #FFF;
	border-radius: 5px;
	right: auto;
	bottom: auto;
	max-height: 90vh;
	overflow-y: auto;
}
.modal.active {
    display: block;
}
.modal .container {
    width: 100%;
    height: 100%;
    padding: 3% 30px 3% 3%;
    box-sizing: border-box;
    text-align: center;
}
.modal video {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.b-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 99999;
    top: 0;
    opacity: 0.5;
    display: none;
}
.b-modal.active {
    display: block;
}
.close {
    position: absolute;
    right: 10px;
    top: 5px;
	opacity: 1;
    font: normal 20px arial;
    cursor: pointer;
}
[id$="-dialog"]{
	display: none;
}
.js-ajax-msg {
    position: fixed;
    display: none;
	left: -12px;
    top: -12px;
    z-index: 999999;
    min-width: 100px;
    max-width: 200px;
    color: #e6e6e6;
    background: #00980c;
    border-radius: 0 10px 10px;
    padding: 10px;
    text-align: center;
    margin: 12px 0 0 12px;
}
.js-ajax-msg.error {
	background: #00013F;
	color: #FF7D7D;
}
.offline-content {
    text-align: center;   
}
.offline-content svg {
    max-width: 500px;
}
@media (max-width: 1000px) {
	.modal {
		left: 2%;
		right: 2%;
		margin: 0;
		width: 96%;
	}
}
@media (max-width: 768px) {
	#content {
		padding: 0 10px 10px;
	}
	div.login-container {
		right: 10px;
		left: 10px;
	}
	div.user-info {
		float: left;
		margin: 0;
	}
	.fb-log {
		float: right;
	}
	.user-logged .fb-log {
		margin: 11px 0 0;
	}
    .reset-padding {
        padding: 0;
    }
    .panel-body,
    .panel-heading{
        padding: 10px;
    }
    #errorPage h1 {
        font-size: 70px;
    }
}
