<!DOCTYPE HTML>
<html ng-app="videoChat">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
	<title>Video chat</title>
	<!-- <link rel="stylesheet" href="css/base_min.css"> -->
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/bootstrap_3.2.0.min.css">
	<link rel="stylesheet" href="css/base.css">
</head>

<body ng-controller="ChatController as chat">
	<div class="main-wrap" ng-class="{'connected': local.trustStream}">
		<header class="connect-bar">
			<input type="button" class="btn btn-info" value="Connect" ng-click="connect()">
			<input type="button" class="btn btn-danger" value="Leave" ng-click="leave()">
		</header>
		<div class="main-container">
            <div class="peers-container peers-{{objectSize(peers)}}">
				<video autoplay ng-repeat="(key, value) in peers" src="{{peers[key].trustStream}}"></video>
			</div>
			<div class="chat-stream-container clearfix">
                <div class="my-stream-container">
                    <video autoplay ng-src="{{local.trustStream}}"></video>
                </div>
			    <div class="chat-container"></div>
			</div>
		</div>
	</div>
	<div class="script-section">
		<script src="app/librarys/icecomm.js"></script>
		<script src="app/librarys/jquery-2.1.4.min.js"></script>
		<script src="app/librarys/angular1.3.16.min.js"></script>
		<script src="app/app.js"></script>
		<script src="app/controllers/mainController.js"></script>
		<script src="app/directives/mainDirective.js"></script>
		<!-- <script type="text/javascript" src="js/app_min.js"></script> -->
		<script src="http://localhost:12345/livereload.js"></script>
	</div>
</body>

</html>