html,
body {
    min-height: 100%;
    height: 100%;
    margin: 0;
}

body {
    //background: url(./../img/min/background.jpg);
    background-size: cover;
    color: #FFF;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: .4;
    }
}

.main-wrap {
    position: relative;
    z-index: 1;
    height: 100%;
}

.connect-bar {
    position: relative;
    text-align: center;
    padding: 10px 0;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.3;
    }
    .btn {
        position: relative;
        z-index: 1;
    }
    .btn-danger {
        display: none;
    }
}

.my-stream-container {
    height: 70%;
    padding: 65px 0 10px;
    text-align: center;
    box-sizing: border-box;
    video {
        height: 100%;
    }
}

.main-container {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.pears-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    text-align: center;
    video {
        height: 100%;
        margin: 0 5px;
    }
}

.main-wrap.connected {
    .main-container {
        display: block;
    }
    .connect-bar {
        .btn-danger {
            display: inline-block;
        }
        .btn-info {
            display: none;
        }
    }
}

@media (max-width: 991px) {
    video {
        max-width: 100%
    }
}