html,
body {
    height: 100%;
    min-height: 100%;
    margin: 0;
}
$maxPeers: 6;
$maxPeersPerRow: 3;
$maxPeersM: 6;
$maxPeersPerRowM: 2;

video {
    max-height: 100%;
    max-width: 100%;
}
.main-wrap {
    position: relative;
    z-index: 1;
    min-height: 100%;
    background: url(./../img/min/background1.jpg);
    background-size: cover;
    
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0;
    }
    &.connected {
        .main-container {
            display: block;
        }
        .chat-login {
            display: inline-block;
        }
        .connect-bar {
            .btn-leave {
                display: inline-block;
            }
            .btn-connect {
                display: none;
            }
        }
    }
    &.logged {
        .chat-login {
            display: none;
        }
        .chat-container {
            display: block;
        }
    }
}
.chat-login {
    display: none;
    vertical-align: middle;
    margin-left: 10px;
    
    .input-group-btn {
        float: left;
    }
    .form-control {
        float: left;
        width: 170px;
    }
}
.connect-bar {
    position: relative;
    text-align: center;
    padding: 10px 0;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: .3;
    }
    .btn {
        position: relative;
        z-index: 1;
    }
    .btn-leave {
        display: none;
    }
}
.main-container {
    display: none;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
.peers-container {
    padding: 65px 0 0;
    text-align: center;
    font-size: 0;
    height: 65%;
    video{
        height: 100%;
    }
    .video-wrap {
        display: inline-block;
        text-align: center;    
        padding: 0 10px 10px;
    }
}
//Peers grid
@for $i from 1 through $maxPeers {
    $width: 0;
    $height: 0;
    @if($i >= $maxPeersPerRow){
        $width: percentage(1 / $maxPeersPerRow);
        $height: 50%;
    }
    @else{
        $width: percentage(1 / $i);
        $height: 100%;
    }
    .peers-#{$i} .video-wrap {
        width: $width;
        height: $height;
    }
}
.chat-stream-container {
    width: 990px;
    height: 35%;
    margin: 0 auto;
    padding-bottom: 10px;
}
.my-stream-container {
    width: 40%;
	padding-right: 15px;
    float: left;
    height: 100%;
    display: flex;
    align-items: center;

    video {
//        box-shadow: 0 0 4px 1px #E8E8E8;
//        border-radius: 5px;
    }
}
.chat-container {
    display: none;
    position: relative;
    float: left;
    border-radius: 5px;
    overflow: hidden;
    background: #FFF;
    height: 100%;
    width: 60%;
}
.chat-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 1px 0px #545454;
    text-align: center;
}
.chat-msgs {
    position: absolute;
    top: 40px;
    bottom: 70px;
    left: 0;
    width: 100%;
    overflow-y: auto;
    padding: 5px 5px 5px 10px;
}
.chat-send-msg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    
    textarea {
        height: 70px;
        resize: none;
        border-radius: 0;
    }
    .btn {
        height: 100%;
        padding: 0 12px;
        border: 0;
        border-radius: 0;
    }
}

$nameWidth: 100px;
$timeWidth: 50px;
$msgItemPadding: 4px 8px;
$arrowSize: 6px;
$msgColor: #5BC0DE;

.msgs-list {
	width: 100%;
}
.msg-item {
	position: relative;
	list-style: none;
	margin-bottom: 5px;

	.name {
		width: $nameWidth;
		position: absolute;
		top: 0;
		left: 0;
		padding: $msgItemPadding;
		text-align: center;
		color: #FFF;
		background: $msgColor;
		border-radius: 10px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.msg {
		display: block;
		position: relative;
		margin: 0 $timeWidth+15px 0 $nameWidth+15px;
		padding: $msgItemPadding;
		color: #FFF;
		background: $msgColor;
		border-radius: 5px;
		
		&:before {
			content: '';
			position: absolute;
			left: -$arrowSize;
			top: 8px;
			width: 0;
			height: 0;
			border-top: $arrowSize solid transparent;
			border-bottom: $arrowSize solid transparent;
			border-right: $arrowSize solid $msgColor;
		}
	}
	.time {
		width: $timeWidth;
		position: absolute;
		top: 0;
		right: 0;
		padding: $msgItemPadding;
		text-align: right;
	}
}
$msgColor: #A0E2F5;
.local-msg {
	.name {
		display: none;
	}
	.msg {
		background: $msgColor;

		&:before {
			left: auto;
			right: -$arrowSize;
			border-right: 0;
			border-left: $arrowSize solid $msgColor;
		}
	}
}
//Tablet/mobile
@media (max-width: 991px) {
    .chat-stream-container,
    .my-stream-container{
        width: auto;
    }
    .my-stream-container{
        padding: 10px;
    }
    .peers-container {
        video {
            height: auto;
        }
    }
    //Peers grid
    @for $i from 1 through $maxPeersM {
        $width: 0;
        @if($i >= $maxPeersPerRowM){
            $width: percentage(1 / $maxPeersPerRowM);
        }
        @else{
            $width: percentage(1 / $i);
        }
        .peers-#{$i} .video-wrap{
            width: $width;
        }
    }
}
//For peers stream container
@media (max-width: 500px) {
	.peers-container {
		.video-wrap {
			height: auto;
		}
	}
}